 <!-- Sidebar Widgets Column -->
    <div class="col-md-4" id="side-widget">

    <!-- Search Widget -->
    <div class="card my-4">
      <h5 class="card-header">Search for posts...</h5>
      <div class="card-body" style="padding-top:0em">
          {{ wtf.quick_form(search_form) }}
      </div>
    </div>

    <!-- Categories Widget -->
    <div class="card my-4">
      <h5 class="card-header">Top Scenes
          <button style="float: right;" ><a style="color: black" href="{{ url_for('main.scenes') }}">Browse All</a></button>
      </h5>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <ul class="list-unstyled mb-0">
              <li>
                <a href="{{ url_for('main.scene', id=5) }}">New York</a>
              </li>
              <li>
                <a href="{{ url_for('main.scene', id=3) }}">Chicago</a>
              </li>
              <li>
                <a href="{{ url_for('main.scene', id=2) }}">Berlin</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul class="list-unstyled mb-0">
              <li>
                <a href="{{ url_for('main.scene', id=4) }}">Deep House</a>
              </li>
              <li>
                <a href="{{ url_for('main.scene', id=6) }}">Techno</a>
              </li>
              <li>
                <a href="{{ url_for('main.scene', id=9) }}">Track IDs</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Side Widget -->
    <div class="card my-4">
      <h5 class="card-header">About Groove Spot</h5>
      <div class="card-body">
        Groove Spot is a place for conversations and information related to dance music or the dance music community.
      </div>
    </div>

  </div>