{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Groove Spot{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-lg-8">
        <div class="post-tabs">
    <h2 >Scenes</h2>
          <button style="float: right;" ><a href="{{ url_for('main.new_scene') }}">Create a New Scene</a></button>
</div>
<br><br>
  <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">City</th>
      <th score="col">Description</th>
      <th scope="col">Posts This Month</th>
    </tr>
  </thead>
  <tbody>
  {% for city in cities %}
    <tr>
      <th scope="row">{{loop.index}}</th>
      <td><a href="{{ url_for('main.scene', id=city.id) }}">{{city.name}}</a></td>
      <td>{{city.description}}</td>
      <td>{{city.posts.count()}}</td>
    </tr>
  {% endfor %}
  </tbody>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Topic</th>
      <th scope="col">Description</th>
      <th scope="col">Posts This Month</th>
    </tr>
  </thead>
  <tbody>
  {% for topic in topics %}
    <tr>
      <th scope="row">{{loop.index}}</th>
      <td><a href="{{ url_for('main.scene', id=topic.id) }}">{{topic.name}}</a></td>
      <td>{{topic.description}}</td>
      <td>{{topic.posts.count()}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>


    </div>
    {% include '_sidebar.html' %}




</div>






{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}