{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Groove Spot{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-lg-8">
        <div class="post-tabs">
    <h2 >Scenes</h2>
</div>

  <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">City</th>
      <th scope="col">Posts This Month</th>
      <th scope="col">Users</th>
    </tr>
  </thead>
  <tbody>
  {% for scene in scenes %}
    <tr>
      <th scope="row">{{scene.id}}</th>
      <td><a>{{scene.name}}</a></td>
      <td>{{scene.posts.count()}}</td>
      <td>{{scene.name}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>


    </div>
    <!-- Sidebar Widgets Column -->
    <div class="col-md-4" id="side-widget">

    <!-- Search Widget -->
    <div class="card my-4">
      <h5 class="card-header">Search</h5>
      <div class="card-body">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for posts...">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button">Go!</button>
          </span>
        </div>
      </div>
    </div>

    <!-- Categories Widget -->
    <div class="card my-4">
      <h5 class="card-header">Top Scenes</h5>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#">New York</a>
              </li>
              <li>
                <a href="#">Chicago</a>
              </li>
              <li>
                <a href="#">Los Angeles</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#">Berlin</a>
              </li>
              <li>
                <a href="#">London</a>
              </li>
              <li>
                <a href="#">Amsterdam</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Side Widget -->
    <div class="card my-4">
      <h5 class="card-header">About Groove Spot</h5>
      <div class="card-body">
        Groove Spot is a place for conversations and information related to dance music or the dance music community.<br>
          Remember to be respectful to others, and make sure to report any inappropriate content.
      </div>
    </div>

  </div>




</div>






{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}