{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Groove Spot{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-lg-8">
        <div class="post-tabs">
            {% if posts[0] %}
    <h2 >{{posts[0].scene.name}}</h2>
            {% else %}
            <h2>No Posts</h2>
            {% endif %}
</div>
        <div class="post-tabs">
    {% include '_posts_test.html' %}
                 {% if pagination %}
<div class="pagination">
    {% if posts[0] %}
    {{ macros.pagination_widget(pagination, '.scene', id=posts[0].scene_id) }}
    {% endif %}
</div>
{% endif %}
</div>
    </div>
    {% include '_sidebar.html' %}




</div>






{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}